#first-div{
  width: 100%;
  background-color:whitesmoke;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.main-container {
  width: 400px;
  height: 500px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(102, 100, 100);
}

.img {
  width: 400px;
  height: 300px;
  margin-top:-44px;
  
  }

#country {
  width: auto;
  height: auto;
  padding: 13px;
  font-family: sans-serif;
}

#country h3 {
  font-size: 30px;
}